<!DOCTYPE html>
<html lang="es">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealtFoot - @ViewBag.Title</title>

    <!-- PLUGINS CSS STYLE -->
    @Styles.Render("~/Content/webcss")

</head>

<body class="body-wrapper version2">

    <!-- Preloader -->
    <div id="preloader" class="smooth-loader-wrapper">
        <div class="preloader_container">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
        </div>
    </div>

    <div class="main-wrapper">

        <!-- HEADER -->
        <div class="header clearfix headerV2">

            <!-- NAVBAR -->
            <nav class="navbar navbar-main navbar-expand-md navbar-default nav-V2" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <a class="navbar-brand" href="index-2.html">
                        <img src="~/Content/Images/logo.jpg" width="150" height="80" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-controls="navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active ">
                                <a href="#" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Inicio</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Nosotros</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Productos</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Iniciar Sesión</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Registrarse</a>
                            </li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                    <!--Aquí van las opciones del carrito-->
                    <div class="dropdown cart-dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle shop-cart" data-toggle="dropdown">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="badge">3</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">

                            <li>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default" onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='checkout-step-1.html';" data-cf-modified-ec9c15c58e8eb9110320e8f5-="">Ver</button>
                                    <button type="button" class="btn btn-default" onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='cart-page.html';" data-cf-modified-ec9c15c58e8eb9110320e8f5-="">Comprar</button>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>

        <!-- LIGHT SECTION -->
        <section class="lightSection clearfix pageHeader" style="display:none">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-title">
                            <h2>ACCOUNT DASHBOARD</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb float-right">
                            <li>
                                <a href="index-2.html">Home</a>
                            </li>
                            <li class="active">ACCOUNT DASHBOARD</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- BANNER -->
        @RenderSection("banner", required: false)

        <!-- MAIN CONTENT SECTION -->
        <section class="mainContent clearfix">
            <div class="container">
                @RenderBody()
            </div>
        </section>

        <!-- FOOTER -->
        <div class="footer clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-12">
                        <div class="footerLink">
                            <a href="#"><h5>Atención a clientes</h5></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <div class="footerLink">
                            <a href="#"><h5>Preguntas frecuentes</h5></a>

                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <div class="footerLink">
                            <h5>Contacto</h5>
                            <ul class="list-unstyled">
                                <li>Llámanos al teléfono (555)-555-5555</li>
                                <li><a href="mailto:support@iamabdus.com">contacto@healtfoot.com</a></li>
                            </ul>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <div class="footerLink">
                            <a href="#"><h5>Política de Privacidad</h5></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <div class="footerLink">
                            <a href="#"><h5>Términos y Condiciones</h5></a>
                        </div>
                    </div>
                </div>
                <!-- COPY RIGHT -->
                <div class="copyRight clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <p>&copy; 2019 HEALT FOOT.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/webjs")
    </div>
</body>

</html>

